/* Custom overrides */
html {
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #fff;
    --background-color: gray;
    --hover-text: indigo;
}

body{
    font-family: poppins, sans-serif;
}

