/* Custom overrides */
html {
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --text-color: #fff;
    --background-color: gray;
    --hover-text: indigo;
    --black:#000;
}
body {
    font-family: 'Poppins', sans-serif;
  }
.flex-1 img{
    height: 590px;
    width: 850px;
}
i{
    color: rgb(231, 231, 0);
}
#services, #contact, #about{
    background-color: var(--text-color);
}
#services .text-4xl,
#contact .text-4xl,
#about .text-4xl{
    color: var(--black);
}
footer{
    background-color: var(--black);
}
/* Animation  */
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
    }
    .animate-scroll {
    display: flex;
    width: max-content;
    animation: scroll 25s linear infinite;
}

@keyframes fadeSlideUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}  
/*stagger */
section:not(#hero):not(footer) h2,
section:not(#hero):not(footer) h3,
section:not(#hero):not(footer) p,
section:not(#hero):not(footer) a,
section:not(#hero):not(footer) img,
section:not(#hero):not(footer) button {
    opacity: 0;
    transform: translateY(40px);
    animation: fadeSlideUp 0.8s ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}
/* Stagger delays */
section:not(#hero):not(footer) h2,
section:not(#hero):not(footer) h3 {
    animation-delay: 0.4s;
}
section:not(#hero):not(footer) p,
section:not(#hero):not(footer) input,
section:not(#hero):not(footer) textarea {
    animation-delay: 0.7s;
}
section:not(#hero):not(footer) a,
section:not(#hero):not(footer) button {
    animation-delay: 0.9s;
}